description = "announcment"

[viewBag]
==
<!-- <ul id="saw_ticker-small_announcement">
	<li class="saw_msg" style="margin-left: -15.3014px;"><span class="saw_title">Seminar on CA and CS as a career (contact office)</span></li>
	<li class="saw_msg"><span class="saw_title">90% CPT Results</span></li>
	<li class="saw_msg"><span class="saw_title">FYJC batches commence from june.</span></li>
	<li class="saw_msg"><span class="saw_title">SYJC batches commence</span></li>
	<li class="saw_msg"><span class="saw_title">C.S. batch registrations start.</span></li>
</ul> -->