[staticBreadcrumbs]

[viewBag]
==
<style>
    .bread-crumb > a:hover , a:click {
        text-decoration: none;
    }
</style>
<div class="bread-crumb" style="padding-top: 15px; padding-bottom: 15px;">
{% if this.page.id == "directors-profile" %}
    <h5 style="display: flex;"><a href="https://shaheducationalacademy.tiez.net/">Home</a> &nbsp; » &nbsp; <a href="https://shaheducationalacademy.tiez.net/who-we-are/">Who We Are</a>  &nbsp; » Directors Profile </h5>
{% elseif this.page.id == "who-we-are-sea-advantage" %}
    <h5 style="display: flex;"><a href="https://shaheducationalacademy.tiez.net/">Home</a> &nbsp; » &nbsp; <a href="https://shaheducationalacademy.tiez.net/who-we-are/">Who We Are</a> &nbsp; » &nbsp; {% component 'staticBreadcrumbs' %} </h5>
{% elseif this.page.id == "courses-undergraduate-courses-f-y-j-c" or this.page.id == "courses-undergraduate-courses-s-y-j-c" or this.page.id == "courses-undergraduate-courses-isc-commerce" %}
    <h5 style="display: flex;"><a href="https://shaheducationalacademy.tiez.net/">Home</a> &nbsp; » &nbsp;<a href="https://shaheducationalacademy.tiez.net/courses/"> Courses </a> &nbsp;»&nbsp; <a href="https://shaheducationalacademy.tiez.net/courses/undergraduate-courses/">Undergraduate Courses</a> &nbsp;» &nbsp; {% component 'staticBreadcrumbs' %} </h5>
{% elseif this.page.id == "courses-graduate-courses-b-com" or this.page.id == "courses-graduate-courses-b-m-s" or this.page.id == "courses-graduate-courses-b-a-f" or this.page.id == "courses-graduate-courses-b-b-i" or this.page.id == "courses-graduate-courses-b-f-m"%}
    <h5 style="display: flex;"><a href="https://shaheducationalacademy.tiez.net/">Home</a> &nbsp; » &nbsp;<a href="https://shaheducationalacademy.tiez.net/courses/"> Courses </a> &nbsp;»&nbsp; <a href="https://shaheducationalacademy.tiez.net/courses/graduate-courses/">Graduate Courses</a> &nbsp;» &nbsp; {% component 'staticBreadcrumbs' %} </h5>
{% elseif this.page.id == "professional-courses-chartered-accountancy-c-a" or this.page.id == "professional-courses-company-secretary-c-s" or this.page.id == "professional-courses-m-com" %}
    <h5 style="display: flex;"><a href="https://shaheducationalacademy.tiez.net/">Home</a> &nbsp; » &nbsp;<a href="https://shaheducationalacademy.tiez.net/courses/"> Courses </a> &nbsp;»&nbsp; <a href="https://shaheducationalacademy.tiez.net/professional-courses/">Professional Courses</a> &nbsp;» &nbsp; {% component 'staticBreadcrumbs' %} </h5>
{% elseif this.page.id == "courses-test-series" or this.page.id == "courses-crash-course" or this.page.id == "courses-seminars" %}
    <h5 style="display: flex;"><a href="https://shaheducationalacademy.tiez.net/">Home</a> &nbsp; » &nbsp;<a href="https://shaheducationalacademy.tiez.net/courses/"> Courses </a> &nbsp;» &nbsp; {% component 'staticBreadcrumbs' %} </h5>
{% elseif this.page.id == "sea-connect-question-papers" or this.page.id == "sea-connect-solutions" or this.page.id == "sea-connect-assignments" %}
    <h5 style="display: flex;"><a href="https://shaheducationalacademy.tiez.net/">Home</a> &nbsp; » &nbsp; <a href="https://shaheducationalacademy.tiez.net/sea-connect/"> Sea Connect </a> &nbsp;» &nbsp; {% component 'staticBreadcrumbs' %} </h5>
{% elseif this.page.id == "contactus" %}
    <h5 style="display: flex;"><a href="https://shaheducationalacademy.tiez.net/">Home</a> &nbsp; » Contact </h5>
{% else %}
    <h5 style="display: flex;"><a href="https://shaheducationalacademy.tiez.net/">Home</a> &nbsp; » &nbsp; {% component 'staticBreadcrumbs' %} </h5>
{% endif %}
</div>