description = "using to add dynamic links in static pages"

[viewBag]
snippetCode = "enquiry-batchtiming-links-snippet"
snippetName = "enquiry-batchtiming-links"
==

<a href="{{'/courses/enquiry' | app }}"><img alt=""
        src="http://lc.shaheducation.tiez.net/storage/app/media/uploaded-files/enquiry-btn.png" class="fr-fic fr-dii"
        data-result="success" style="margin-right: 10px;"></a>
<a href="{{ '/courses/batch-timing' | app }}">
<img alt="" src="https://shaheducationalacademy.tiez.net/storage/app/media/uploaded-files/batchtime-btn.png"
></a>