description = "footer-links-snippet"

[viewBag]
==
<ul class="simple-links-list simple-links-5-list" id="simple-links-5-list">
    <li class="simple-links-item simple-links-widget-item" id="link-538"><a href="{{'/disclaimer' | app }}" target="_top" title="" >Disclaimer</a></li>
    <li class="simple-links-item simple-links-widget-item" id="link-548"><a href="{{'/sitemap/' | app }}" target="_top" title="" >Sitemap</a></li>
    <li class="simple-links-item simple-links-widget-item" id="link-543"><a href="{{'/privacy-policy/' | app }}" target="_top" title="" >Privacy Policy</a></li>
</ul>