description = "rightsidebar"

[viewBag]

[menu]
menu_id = 1
==
<!-- BEGIN .sidebar-right -->
		<div class="sidebar-right page-content">
		
			<div class="widget content-block">			
			
			<div class="widget saw_announcements horizontal">	
			<h3 class="block-title">Announcement</h3>				
			   {% partial "announcment" %}
			</div>
			</div>			
			<div class="widget content-block">Testimonials<div class='content_display' id="testi_slider_1584327600_300">	
					</div>
		</div>
		<div class="widget content-block">
		    <h3 class="block-title">Quick Links</h3>
		         {% component 'menu' %}
		</div>	
		<!-- END .sidebar-right -->
		</div>