description = "using this snippet to add pages dynamically in sitemap static page"

[viewBag]
snippetCode = "sitemap-links-snippet"
snippetName = "sitemap-links-snippet"
==
<ul class="simple-sitemap-page">
		<li class="page_item page-item-331 page_item_has_children"><a href="{{'/professional-courses/'|app}}">Professional Courses</a>

			<ul class="children">
				<li class="page_item page-item-467"><a href="{{'/professional-courses/chartered-accountancy-c-a/'|app}}">Chartered Accountancy (C.A.)</a></li>
				<li class="page_item page-item-503"><a href="{{'/professional-courses/company-secretary-c-s/'|app}}">Company Secretary (C.S.)</a></li>
				<li class="page_item page-item-869"><a href="{{'/professional-courses/m-com/'|app}}">M.com</a></li>
			</ul>
		</li>
		<li class="page_item page-item-187 page_item_has_children"><a href="{{'/about-us/'|app}}">About Us</a>

			<ul class="children">
				<li class="page_item page-item-204"><a href="{{'/about-us/note-for-students/'|app}}">Note for students</a></li>
				<li class="page_item page-item-212"><a href="{{'/about-us/stars-of-sea/'|app}}">Stars of sea</a></li>
			</ul>
		</li>
		<li class="page_item page-item-192 page_item_has_children"><a href="{{'/academics/'|app}}">Academics</a>

			<ul class="children">
				<li class="page_item page-item-214"><a href="{{'/academics/admission/'|app}}">Admission</a></li>
				<li class="page_item page-item-216"><a href="{{'/academics/lectures/'|app}}">Lectures</a></li>
			</ul>
		</li>
		<li class="page_item page-item-233 page_item_has_children"><a href="{{'/address/'|app}}">Address</a>

			<ul class="children">
				<li class="page_item page-item-231"><a href="{{'/address/queries/'|app}}">Queries</a></li>
			</ul>
		</li>
		<li class="page_item page-item-451"><a href="{{'/contactus'|app}}">Contact</a></li>
		<li class="page_item page-item-24 page_item_has_children"><a href="{{'/courses/'|app}}">Courses</a>

			<ul class="children">
				<li class="page_item page-item-519 page_item_has_children"><a href="{{'/courses/graduate-courses/'|app}}">Graduate Courses</a>

					<ul class="children">
						<li class="page_item page-item-702"><a href="{{'/courses/graduate-courses/b-a-f/'|app}}">B.A.F</a></li>
						<li class="page_item page-item-704"><a href="{{'/courses/graduate-courses/b-b-i/'|app}}">B.B.I</a></li>
						<li class="page_item page-item-698"><a href="{{'/courses/graduate-courses/b-com/'|app}}">B.Com</a></li>
						<li class="page_item page-item-914"><a href="{{'/courses/graduate-courses/b-f-m/'|app}}">B.F.M.</a></li>
						<li class="page_item page-item-700"><a href="{{'/courses/graduate-courses/b-m-s/'|app}}">B.M.S.</a></li>
					</ul>
				</li>
				<li class="page_item page-item-222"><a href="{{'/courses/seminars/'|app}}">Seminars</a></li>
				<li class="page_item page-item-220"><a href="{{'/courses/test-series/'|app}}">Test series</a></li>
				<li class="page_item page-item-220"><a href="{{'courses/batch-timing/'|app}}">Batch Timing</a></li>
				<li class="page_item page-item-220"><a href="{{'courses/crash-course/'|app}}">Crash course</a></li>
				<li class="page_item page-item-220"><a href="{{'courses/enquiry/'|app}}">Enquiry</a></li>
				<li class="page_item page-item-517 page_item_has_children"><a href="{{'/courses/undergraduate-courses/'|app}}">Undergraduate Courses</a>

					<ul class="children">
						<li class="page_item page-item-692"><a href="{{'/courses/undergraduate-courses/f-y-j-c/'|app}}">F.Y.J.C.</a></li>
						<li class="page_item page-item-973"><a href="{{'/courses/undergraduate-courses/isc-commerce/'|app}}">ISC Commerce</a></li>
						<li class="page_item page-item-694"><a href="{{'/courses/undergraduate-courses/s-y-j-c/'|app}}">S.Y.J.C.</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="page_item page-item-539"><a href="{{'/disclaimer/'|app}}">Disclaimer</a></li>
		<li class="page_item page-item-235"><a href="{{'/helpline/'|app}}">Helpline</a></li>
		<li class="page_item page-item-26"><a href="/">Home</a></li>
		<li class="page_item page-item-373"><a href="{{'/our-team-3/'|app}}">Our Team</a></li>
		<li class="page_item page-item-542"><a href="{{'/privacy-policy/'|app}}">Privacy Policy</a></li>
		<li class="page_item page-item-675"><a href="{{'/result/'|app}}">Result</a></li>
		<li class="page_item page-item-196 page_item_has_children"><a href="{{'/sea-connect/'|app}}">Sea Connect</a>

			<ul class="children">
				<li class="page_item page-item-229"><a href="{{'/sea-connect/assignments/'|app}}">Assignments</a></li>
				<li class="page_item page-item-224"><a href="{{'/sea-connect/question-papers/'|app}}">Question papers</a></li>
				<li class="page_item page-item-227"><a href="{{'/sea-connect/solutions/'|app}}">Solutions</a></li>
			</ul>
		</li>
		<li class="page_item page-item-546 current_page_item"><a href="{{'/sitemap/'|app}}">Sitemap</a></li>
		<li class="page_item page-item-817 page_item_has_children"><a href="{{'/who-we-are/'|app}}">Who We Are</a>

			<ul class="children">
				<li class="page_item page-item-681"><a href="{{'/who-we-are/directors-desk/'|app}}">Directors Profile</a></li>
				<li class="page_item page-item-678"><a href="{{'/who-we-are/sea-advantage/'|app}}">Why SEA?</a></li>
			</ul>
		</li>
		<li class="page_item page-item-553"><a href="{{'/why-sea-3/'|app}}">Why SEA?</a></li>
	</ul>